/* dark shades of primary color */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  color: #a7dbc2; }

h1 {
  font-size: 3.6rem;
  font-weight: 400; }

.container {
  height: 100vh;
  max-width: 100%;
  background-color: #29313a; }

.show-sidebar {
  position: fixed; }

.sidebar-container {
  min-width: 35rem;
  width: 35rem; }

.sidebar {
  position: fixed;
  background-color: #8EE7A7;
  top: 0;
  left: 0;
  width: 35rem;
  height: 100%;
  transform: translate(-100%);
  transition: all 0.3s linear;
  color: #3e464e; }

.btn-option {
  padding: 1.4rem;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  transform: translate(0 -50%); }

.counter-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.heading {
  text-align: center;
  text-transform: capitalize;
  color: #a7dbc2;
  color: #8ee7a7; }

.counter {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .counter__text {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 400; }
  .counter__time {
    font-size: 14rem;
    letter-spacing: 10px;
    color: #a7dbc2; }

.control-btns {
  display: flex;
  column-gap: 1.4rem; }

.btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  color: #e5e9e7;
  color: #e5e9e762; }

.active-state {
  color: #8ee7a7; }

.control-icon {
  font-size: 2.5rem; }
  .control-icon:hover {
    color: #8ee7a7; }
  .control-icon:active {
    color: #8ee7a7; }

.session {
  text-align: center;
  font-size: 1.3rem; }

.stats {
  width: 100%; }
  .stats__total {
    display: grid; }
    .stats__total p,
    .stats__total span {
      text-transform: capitalize;
      margin: auto 0; }

.footer {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #8ee7a7;
  letter-spacing: 1px; }
