*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-size: 2.8rem; }

.heading {
  margin-top: 5rem; }

.sidebar-title {
  font-size: 2.2rem; }

.big-width {
  width: 95%; }

.hidden {
  display: none; }

.active-state {
  background: #8ee7a7; }

.sidebar-container {
  margin: 0 auto;
  margin-top: 3rem;
  color: #252c34;
  width: 90%; }

.show-sidebar {
  transform: translate(0) !important; }

.hide-sidebar {
  transform: translate(-100%); }

.btn {
  padding: 1.2rem 4rem;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: 1px solid #d4d6d8;
  border-radius: 6px; }

body {
  background-color: #29313a; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 30rem;
  height: 100vh;
  background: #8ee7a7;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);
  transition: all 0.3s linear;
  display: flex;
  flex-direction: column; }

.close-sidebar {
  margin: 3rem 3rem 0 0;
  align-self: flex-end;
  background-color: transparent;
  font-size: 3rem;
  outline: none;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer; }
  .close-sidebar:hover {
    color: #3e464e;
    transform: scale(1.3); }

.stats {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: 600; }
  .stats__total {
    font-size: 1.8rem;
    font-weight: 500; }
    .stats__total p {
      padding: 0.8rem 0; }
    .stats__total span {
      color: #e5e9e7;
      border-radius: 6px;
      display: block;
      width: 100%;
      padding: 1rem 0 1rem 1rem;
      background-color: #175e56; }

.bg-music {
  border: 4px solid purple; }
  .bg-music__video {
    margin-top: 8rem;
    width: 2rem; }
    .bg-music__video .video {
      width: 26rem;
      height: 16rem; }

.hero-container {
  width: 100%;
  display: flex; }

.sidebar-window {
  width: 30rem; }

.hero-section {
  width: 100%;
  height: 93vh;
  background-color: yellow; }

.content-container {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #e5e9e7; }

.timer {
  margin-top: -8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .timer__notice {
    letter-spacing: 1px;
    border-radius: 6px;
    font-size: 1.2rem;
    padding: 0.8rem;
    background-color: #1d2229; }
  .timer__time {
    font-size: 16rem; }
  .timer__controls {
    display: flex;
    gap: 2rem;
    position: relative; }
    .timer__controls .controls-icon {
      text-align: center;
      padding: 1rem;
      width: 2rem;
      height: 2rem;
      background-color: rgba(212, 214, 216, 0.267);
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s ease; }
      .timer__controls .controls-icon:hover {
        color: #29313a;
        background-color: #8ee7a7; }

.option-menu {
  transform: scale(1.1);
  background-color: #d4d6d811;
  display: flex;
  justify-content: space-between;
  border-radius: 6px; }
  .option-menu .option {
    font-size: 2rem;
    padding: 1rem 8rem;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    text-align: center; }
    .option-menu .option:hover {
      color: #29313a;
      border-radius: 6px;
      background-color: #8ee7a7; }
