*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-size: 2.8rem; }

.heading {
  margin-top: 5rem; }

.big-width {
  width: 95%; }

.btn {
  padding: 1.2rem 4rem;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: 1px solid #d4d6d8;
  border-radius: 6px; }

body {
  background-color: #29313a; }

.hero-section {
  height: 93vh; }

.content-container {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #e5e9e7; }

.timer {
  margin-top: -8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .timer__notice {
    letter-spacing: 1px;
    border-radius: 6px;
    font-size: 1.2rem;
    padding: .8rem;
    background-color: #1d2229; }
  .timer__time {
    font-size: 16rem; }
  .timer__controls {
    display: flex;
    gap: 2rem;
    position: relative; }
    .timer__controls .controls-icon {
      text-align: center;
      padding: 1rem;
      width: 2rem;
      height: 2rem;
      background-color: rgba(212, 214, 216, 0.267);
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s ease-in; }
      .timer__controls .controls-icon:hover {
        color: #29313a;
        background-color: #8ee7a7; }

.option-menu {
  transform: scale(1.1);
  background-color: #d4d6d811;
  display: flex;
  justify-content: space-between;
  border-radius: 6px; }
  .option-menu .option {
    font-size: 2rem;
    padding: 1rem 8rem;
    cursor: pointer;
    transition: all 0.3s ease-in;
    width: 100%;
    text-align: center; }
    .option-menu .option:hover {
      color: #29313a;
      border-radius: 6px;
      background-color: #8ee7a7; }
