
    /* dark shades of primary color*/
$clr-primary-1: #29313A;
$clr-secondary-1: #3AEBD6;
$clr-secondary-light: #E5E9E7;
$clr-tertiary: #8EE7A7;

$large-width: 80rem;

$text-color: #A7DBC2;

$white: #fff;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 100%;
    background-color: $clr-primary-1;
    color: $text-color;
}

h1 {
    font-size: 3.6rem;
    font-weight: 400;
}

// height: 100vh;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: $large-width;
    margin: 0 auto;
}


.heading {
    text-align: center;
    // color: $clr-secondary-light;
    text-transform: capitalize;
    margin-top: 3rem;
    color: $text-color;
    color: $clr-tertiary;
}

.counter {
    margin: 3rem 0;
    height: 40vh;
    padding: 2rem 5rem;
    border: 8px solid $clr-secondary-1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    &__text {
        text-transform: capitalize;
        font-size: 2rem;
        font-weight: 400;

    }

    &__time {
        padding: 2rem 0;
        font-size: 8rem;
        letter-spacing: 10px;
        color: $text-color;
    }
}

.control-btns {
    display: flex;
    column-gap: 1.8rem;
}

.btn {
    background-color: transparent;
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;

}

.active-state {
    color: $clr-tertiary;
}

.control-icon {
    font-size: 2.5rem;
    color: $clr-secondary-light;

    &:hover {
        color: $clr-tertiary;
    }

    &:active {
        color: $clr-tertiary;
    }

}

.session {
    text-align: center;
    font-size: 1.3rem;
}



.stats {
    width: 100%;
    margin-top: 6rem;

    &__total {
        display: grid;
        grid-template-columns: 30% 70%;
        column-gap: 10px;
        margin-bottom: 1rem;

        // p {
        //     margin-left: .5rem;
        // }
        
        p, span {
            background-color: rgba(217, 217, 217, 0.06);
            padding: 1rem 0 1rem 1rem;
            margin: auto 0;
            font-size: 1.8rem;
        }
 
    }
}

.footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: $clr-tertiary;
    letter-spacing: 1px;
}


