
/* dark shades of primary color */
$clr-primary-1: #29313a;
$clr-primary-dark: #3e464e;

$clr-secondary-1: #3aebd6;
$clr-secondary-light: #e5e9e7;
$clr-tertiary: #8ee7a7;

$large-width: 80rem;

$text-color: #a7dbc2;

$white: #fff;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  color: $text-color;
}

h1 {
  font-size: 3.6rem;
  font-weight: 400;
}
// height: 100vh;

.container {
  height: 100vh;
  max-width: 100%;
  background-color: $clr-primary-1;
  position: relative;
}


.show-sidebar {
  position: fixed;
}


.sidebar-container {
  min-width: 35rem;
  width: 35rem;
}

.sidebar {
  position: fixed;
  background-color: #8EE7A7;
  top: 0;
  left: 0;
  width: 35rem;
  height: 100%;
  transform: translate(-100%);
  color: $clr-primary-dark;
}
.show-sidebar {
  transform: translate(0);
}


.counter-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.heading {
  text-align: center;
  // color: $clr-secondary-light;
  text-transform: capitalize;
  margin-top: 3rem;
  color: $text-color;
  color: $clr-tertiary;
}

.counter {
  height: auto;
  // border: 8px solid $clr-secondary-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  &__text {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 400;
  }

  &__time {
    font-size: 14rem;
    letter-spacing: 10px;
    color: $text-color;
  }

}

.control-btns {
  display: flex;
  column-gap: 1.4rem;
}

.btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  color: $clr-secondary-light;
  color: #e5e9e762;
}

.active-state {
  color: $clr-tertiary;
}

.control-icon {
  font-size: 2.5rem;

  &:hover {
    color: $clr-tertiary;
  }

  &:active {
    color: $clr-tertiary;
  }
}

.session {
  text-align: center;
  font-size: 1.3rem;
}


.stats {
  width: 100%;

  &__total {
    display: grid;

    // p {
    //     margin-left: .5rem;
    // }

    p,
    span {
      text-transform: capitalize;

      margin: auto 0;
  
    }
  }
}

.footer {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: $clr-tertiary;
  letter-spacing: 1px;
}
