$color-primary: #29313a;
$color-primary-dark: #252c34;
$color-primary-dark-1: #21272e;
$color-primary-light: #d4d6d8;
$color-primary-light-1: #3e464e;
// $color-secondary-1: #3aebd6;
$color-secondary: #8ee7a7;
$color-secondary-light: #e5e9e7;
$color-secondary-dark: #175e56;

$large-width: 80rem;

$text-color: #a7dbc2;

$white: #fff;

$transition-linear: all 0.3s linear;
$transition-ease: all 0.3s ease;

$border-radius: 6px;

$width: 34rem;
