h1 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  margin: 0;
}

.heading {
  margin-top: 3rem;
}

.sidebar-title {
  font-size: 2.2rem;
}

.music-genre-title {
  font-size: 1.6rem;
}
