.big-width {
  width: 95%;
}

.hidden {
  display: none;
}

.control-bg {
  background-color: rgba(212, 214, 216, 0.267);
}

.active-state {
  color: $color-primary;
  background-color: $color-secondary;
}

.stat-option-active {
  color: $color-secondary;
}

.sidebar-container {
  margin: 0 auto;
  color: $color-secondary-light;
  width: 90%;
  transition: $transition-ease;

  .sidebar-title {
    margin-bottom: 1.8rem;
  }
}

.show-sidebar {
  transform: translate(0) !important;
}

.hide-sidebar {
  transform: translate(-100%);
}

/***** Slide Right *****/
@keyframes slide-right {
  from {
    margin-right: 0%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes slide-left {
  from {
    margin-left: 10%;
  }

  to {
    margin-right: 0%;
  }
}

// .exit-transition-hero {
//   animation: 500ms slide-left;
// }

// .enter-transition-hero {
//   // transition: all 9s linear;
//   animation: 500ms slide-right;
// }

.music-active {
  background-image: linear-gradient(to right top, #29313a, #263c47, #1d4751, #145356, #175e56);
  background-image: linear-gradient(to right top, #29313a, #315b6a, #2e8990, #4bb9a4, #8ee7a7);
}
