.big-width {
  width: 95%;
}

.hidden {
  display: none;
}

.active-state {
  //color: $color-secondary;
  background: $color-secondary;
}

.sidebar-container {
  margin: 0 auto;
  margin-top: 3rem;
  color: #252c34;
  width: 90%;
}

.show-sidebar {
  transform: translate(0) !important;
}

.hide-sidebar {
  transform: translate(-100%);
}

/***** Slide Right *****/
@keyframes slide-right {
  from {
    margin-right: -2%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slide-left {
  from {
    margin-left: -5%;
  }
  to {
    margin-right: 0%;
  }
}

.exit-transition-hero {
  animation: 800ms slide-left;
}

.enter-transition-hero {
  // transition: all 9s linear;
  animation: 400ms slide-right;
}