.big-width {
  width: 95%;
}

.hidden {
  display: none;
}

.active-state {
  //color: $color-secondary;
  background: $color-secondary;
}

.sidebar-container {
  margin: 0 auto;
  margin-top: 3rem;
  color: #252c34;
  width: 90%;
}
