.big-width {
  width: 95%;
}

.hidden {
  display: none;
}

.control-bg {
  background-color: rgba(212, 214, 216, 0.267);
}

.active-state {
  color: $color-primary;
  background-color: $color-secondary;
}

.stat-option-active {
  color: $color-secondary;
}

.sidebar-container {
  margin: 0 auto;
  margin-top: 3rem;
  color: #252c34;
  width: 90%;
  transition: $transition-ease;

  .sidebar-title {
    margin-bottom: 1.8rem;
  }
}

.show-sidebar {
  transform: translate(0) !important;
}

.hide-sidebar {
  transform: translate(-100%);
}

/***** Slide Right *****/
@keyframes slide-right {
  from {
    margin-right: 10%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes slide-left {
  from {
    margin-left: 10%;
  }

  to {
    margin-right: 0%;
  }
}

.exit-transition-hero {
  animation: 500ms slide-left;
}

.enter-transition-hero {
  // transition: all 9s linear;
  animation: 500ms slide-right;
}
