body {
  background-color: $color-primary;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 30rem;
  height: 100vh;
  background: $color-secondary;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);
  transition: var(--transition);
  //transform: translate(-100%);
  display: flex;
  flex-direction: column;
}

.close-sidebar {
  margin: 3rem 3rem 0 0;
  align-self: flex-end;
  background-color: transparent;
  font-size: 3rem;
  outline: none;
  border: none;
  transition: $transition-ease;
  cursor: pointer;


  &:hover {
    color: $color-primary-dark;
    transform: scale(1.3);
  }
}



//   .stats-container {
//     margin: 0 auto;
//     margin-top: 3rem;
//     color: #252c34;
//     width: 90%;
//   }

.stats {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: 600;

  &__total {
    font-size: 1.8rem;
    font-weight: 500;


    p {
      padding: 0.8rem 0;
    }

    span {
      color: $color-secondary-light;
      border-radius: $border-radius;
      display: block;
      width: 100%;
      padding: 1rem 0 1rem 1rem;
      background-color: $color-secondary-dark;
    }
  }
}

.bg-music {
  border: 4px solid purple;

  &__video {
    margin-top: 8rem;
    width: 2rem;

    .video {
      width: 26rem;
      height: 16rem;
    }
  }
}

.hero-section {
  height: 93vh;
}

.content-container {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: $color-secondary-light;
}

.timer {
  margin-top: -8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__notice {
    letter-spacing: 1px;
    border-radius: $border-radius;
    font-size: 1.2rem;
    padding: 0.8rem;
    background-color: $color-primary-dark-1;
  }

  &__time {
    font-size: 16rem;
  }

  &__controls {
    display: flex;
    gap: 2rem;
    position: relative;


    .controls-icon {
      text-align: center;
      padding: 1rem;
      width: 2rem;
      height: 2rem;
      background-color: rgba(212, 214, 216, 0.267);
      border-radius: 50%;
      cursor: pointer;
      transition: $transition-ease;


      &:hover {
        color: $color-primary;
        background-color: $color-secondary;
      }
    }
  }
}

.option-menu {
  transform: scale(1.1);
  background-color: #d4d6d811;
  display: flex;
  justify-content: space-between;
  border-radius: $border-radius;


  .option {
    font-size: 2rem;
    padding: 1rem 8rem;
    cursor: pointer;
    transition: $transition-ease;
    width: 100%;
    text-align: center;

    &:hover {
      color: $color-primary;
      border-radius: $border-radius;
      background-color: $color-secondary;
    }
  }
}
