
body {
  background-color: $color-primary;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

main {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.pomo-logo {
  width: 12rem;
  position: absolute;
  top: 0;
  left: 3%;
}

.sidebar {
  position: absolute;
  overflow-y: visible;
  top: 0;
  left: 0;
  width: $width;
  height: 100vh;
  background: $color-primary-light-1;
  row-gap: 1rem;
  transition: $transition-linear 80ms;
  display: flex;
  flex-direction: column;
  z-index: 100;
  transform: translate(-100%);
}

.close-sidebar {
  margin: 3rem 3rem 0 0;
  align-self: flex-end;
  background-color: transparent;
  font-size: 2.5rem;
  outline: none;
  border: none;
  transition: $transition-ease;
  cursor: pointer;

  .close-icon {
    color: $color-secondary-light;
  }

  &:hover {
    transform: scale(1.3);
  }
}

.stats {
  display: block;
  background-color: rgba($color-primary-dark, 0.6);
  padding: 2rem 2rem;
  border-radius: $border-radius;

  &__total {
    font-weight: 400;

    p {
      font-size: 1.7rem;
      padding: 0.8rem 0;
    }

    span {
      font-size: 1.4rem;
      color: $color-secondary;
      border-radius: $border-radius;
      display: block;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.25) 0 10px 50px;
      padding: 1rem 0;
      padding-left: 1rem;
    }
  }
}

.bg-music-list {
  list-style: none;
  display: block;
  background-color: $color-primary-dark;
  padding: 3rem 2rem;
  border-radius: $border-radius;

  .music-card {
    transition: $transition-ease;
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0 10px 50px;
    cursor: pointer;

    &__img {
      margin-right: 1rem;
      overflow: hidden;
      border-radius: $border-radius;
      min-width: 6rem;
      width: 6rem;
      height: 5rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__desc {
      letter-spacing: 0.8px;
      line-height: 2;
      font-weight: 400;
    }

    &:hover {
      color: $color-secondary;
      transform: translateY(0.2rem);
    }
  }

  .music-card:last-child {
    margin-bottom: 0;
  }
}

.bg-music-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;

  button {
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.6rem;
  }

  div {
    button:last-child {
      margin-left: 1.8rem;
    }
  }

  .music-ctrl-icon:hover {
    color: $color-secondary-dark;
  }
}

.music-player-container {
  margin: 3rem 0 2rem 0;
  padding: 0 1.4rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba($color-primary-dark, 0.5);
  border-radius: $border-radius;
  // background-color: rgba(2, 2, 2, 0.158);

  #music-title {
    text-align: center;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.5;
    font-style: italic;
    letter-spacing: 0.8px;
  }

  #play-music {
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
    border-radius: 50%;
    color: $color-primary;
    background-color: $color-secondary-light;
  }
}

.progress-container {
  width: 100%;
  background-color: inherit;
  align-self: flex-start;
}

.progress {
  // padding: .5px;
  width: 1%;
  background-color: $color-secondary;
}

.hero-container {
  display: flex;
  backface-visibility: hidden;
  height: 75%;
  width: 100%;
  position: absolute;
  top: 8%;
}


// .sidebar-window {
//   z-index: 80;
//   min-width: $width;
// }

.sidebar-window {
  min-width: 0;
  width: 0;
  z-index: 80;
  transition: min-width 360ms linear;
}

.sidebar-window-style {
  min-width: $width;
  opacity: 0;
}


.hero-section {
  width: 100%;
  //height: calc(48rem + 4vw);
  //max-height: 50rem;
  //min-height: 50rem;
   border: 4px solid gray;
}

.content-container {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: $color-secondary-light;
}

.timer {
  // margin: auto;
  width: 100%;
  // height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__notice {
    // margin-top: 3.4rem;
    font-weight: 100;
    line-height: 1.6;
    width: 60%;
    text-align: center;
    letter-spacing: 1.2px;
    border-radius: $border-radius;
    font-size: 1.25rem;
    padding: 0.9rem;
    color: #c7f3d3;
    background-color: rgba($color-primary-dark-1, 0.4%);

    #motivate-notice {
      color: $color-secondary-light;
    }

    p {
      margin: 0;
    }
  }

  .timer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
  }


  &__time {
    backface-visibility: hidden;
    transition: 0.3s all ease;
    width: inherit;
    text-align: center;
    font-size: calc(8rem + 5vw);
    letter-spacing: 1.5rem;
  }

  &__controls {
    display: flex;
    gap: 2rem;
    position: relative;

    .controls-icon {
      // background-color: rgba(212, 214, 216, 0.267);
      text-align: center;
      padding: 1rem;
      min-width: 2rem;
      min-height: 2rem;
      border-radius: 50%;
      cursor: pointer;
      transition: $transition-ease;

      &:hover {
        color: $color-secondary-dark;
      }
    }
  }
}

.option-menu {
  margin: 0 auto;
  background-color: #d4d6d811;
  display: flex;
  justify-content: space-between;
  border-radius: $border-radius;

  .option {
    font-size: 2rem;
    padding: 0.9rem 14rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
    width: 100%;
    text-align: center;

    &:hover {
      color: $color-primary;
      border-radius: $border-radius;
      background-color: $color-secondary;
    }
  }
}


.footer {
  width: 100%;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  margin-top: 7rem;
  // height: 6rem;
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
  align-items: flex-end;
  color: $color-secondary-light;
  border: 1px solid green;

  .footer-txt {
    //  padding: 0.4rem;
  }

  .footer-icons {
    cursor: pointer;
    font-size: 1.6rem;

    a {
      color: $color-secondary-light;
    }

    .footer-icon {
      margin-right: .5rem;
    }

    .footer-icon:hover {
      color: $color-secondary;
    }
  }
}

.overlay-blur {
  z-index: 40;
  position: absolute;
  width: 110%;
  height: 100%;
  background-color: rgba($color-primary, 0.8);
  backdrop-filter: blur(8px);
}


@media (max-width: 830px) {
//   body {
//     overflow: hidden;
//   }


  .sidebar {
    width: 60%;
  }

  .timer__notice {
    width: 80%;
  }

//   .hero-section {
//     // height: calc(50rem + 4vw);
//     max-height: 50rem;
//     min-height: 50rem;
//   }

//   .timer__notice {
//     margin-top: 4rem;
//     width: 75%;
//   }

//   .timer__controls {
//     gap: 1.5rem;

//     .controls-icon {
//       min-height: 1.5rem;
//       min-width: 1.5rem;
//     }
//   }

//   .option-menu {
//     .option {
//       padding-top: 0.5rem;
//     }
//   }
 }

@media(max-width: 650px) {
  .option-menu {
    width: 96%;

    .option {
      padding: 0.9rem 0;
    }
  }
}

@media(max-width: 500px) {
  .timer__notice {
    width: 90%;
  }
  .option-menu {
    width: 95%;
    flex-direction: column;
    gap: .8rem;
    background-color: transparent;
    .option {
      border-radius: $border-radius;
      background-color: #d4d6d811;
      padding: 0.9rem 0;
    }
  }
}

@media (max-width: 600px) {
  .sidebar {
    padding: 0 1rem;
    width: 100%;
  }

  // .hero-section {
  //   max-height: 40rem;
  //   min-height: 40rem;
  // }

  // .timer__notice {
  //   margin-top: 4rem;
  //   width: 90%;
  // }

  // .timer__controls {
  //   gap: 1.3rem;

  //   .controls-icon {
  //     min-height: 1.3rem;
  //     min-width: 1.3rem;
  //   }
  // }

  // .option-menu {
  //   width: 96%;

  //   .option {
  //     padding: 0.4rem 0;
  //   }
  // }
}

@media (max-width: 400px) {
  h3 {
    font-size: 1.35rem;
  }

  .sidebar {
    min-width: 219px;
  }

  .sidebar-container {
    width: 97%;
  }


  .bg-music-list {
   padding: 1.4rem;

   .music-card {
    padding: 1rem;
   }

    .music-card__img {
      min-width: 5rem;
      width: 5rem;
      height: 4rem;
  }
  }
  .timer__time {
    font-size: calc(6rem + 5vw);
   }
}

@media(max-width: 346px) {
//  .timer__time {
//   font-size: calc(5.5rem + 5vw);
//  }

 .footer {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  justify-content: start;

  .footer .footer-icons .footer-icon:first-child {
    margin-left: 0;
  }
 }
}


@media(max-width: 260px) {
  body {
    max-width: 250px;
  }
  .timer__time {
    font-size: calc(4.5rem + 5vw);
   }

   
}

// @media (max-width: 360px) {
//   body {
//     min-width: 302px;
//   }

//   .sidebar-container {
//     // min-width: 360px;
//   }

//   .sidebar {
//     overflow-x: scroll;
//   }
// }

// @media (max-width: 300px) {
//   .timer__time {
//     font-size: 7rem;
//   }
// }
